.sidebar {
    height:100%;
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    margin-right:5px;
    background-color: var(--color-sidebar-bg);
    color: var(--color-header-text);
}

select {
    width:100%;
}