.sidebar {
    height:100%;
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    margin-right: var(--sidebar-margin-right);
    background-color: var(--color-sidebar-bg);
    color: var(--color-header-text);
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}